git_user.env
ultimate-setup
ultimate-setup-linux-amd64
/configs/ssh/*
/configs/aws/*
/configs/azure/*
/configs/gcp/*
/configs/ansible/*.vault
/configs/terraform/.terraform/*
!/configs/**/.keep
!/configs/**/README.md

